<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About!</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        h1{
            color: dodgerblue;
            text-align: center;
            margin-top: 50px;
            text-decoration: underline;
        }
    </style>
</head>
<body style = "background-color: lavender;">
<div class="container">
    <h1>
        <a href = "https://docs.djangoproject.com/en/2.1/" class="btn btn-dark btn-lg">I am Django, where are you??</a>
    </h1>
    <p>
        Have you ever felt that the world is more and more about technology to which you cannot (yet) relate? Have you ever wondered how to create a website but have never had enough motivation to start? Have you ever thought that the software world is too complicated for you to even try doing something on your own?<div></div>
        Well, we have good news for you!<p></p> Programming is not as hard as it seems and we want to show you how fun it can be.<p></p>
        This tutorial will not magically turn you into a programmer. If you want to be good at it, you need months or even years of learning and practice. But we want to show you that programming or creating websites is not as complicated as it seems. We will try to explain different bits and pieces as well as we can, so you will not feel intimidated by technology.<br>

We hope that we'll be able to make you love technology as much as we do!
    </p>
    <h4 style="color: tomato;text-decoration: underline">Search here</h4>
    <form action="" method="get">
{#        <label for = "company">Query here</label>#}
        <div>
            <label for = "company">Search from email</label>
            <div></div>
            <input type="email" id="company" placeholder="email" required>
        </div>
        <button type="button" class="btn btn-primary btn-sm">Enter</button>

    </form>

</div>


</body>
</html>